<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    
      <!-- This is the navbar that gets you to the other sites-->
      <!-- https://www.w3schools.com/css/css_navbar.asp -->
      <ul class="navbar">
          <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="/stats/">Stats</a></li>
          <li class="nav-item"><a class="nav-link" href="/designer/">Designer</a></li>
      </ul>

      <h1>{% block heading %} {% endblock %}</h1>

      {% block body %} {% endblock %}

	<script src="index.js"></script>
  </body>
</html>
