{% extends 'base.html' %}
    
{% block title %} GrowBot Dashboard {% endblock %}

{% block heading %} This is Your Garden {% endblock %}


{% block body %}
    <!-- Shows a camera feed-->
    <div class="camera tile">
    </div>

    <!-- Shows an updating graph of temps and humidity-->
    <div class="stats tile">
    </div>

    <!-- Shows a the garden status-->
    <!-- Tells you what your overall garden health is and any warnings-->
    <!-- Warnings include extra dry soil and or dying/sick plants-->
    <div class="status tile">
    </div>
{% endblock %}
